.selected-plate {
  position: absolute;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
  pointer-events: none;
  animation: 1s infinite forwards transform-selected-date-plate;
  backdrop-filter: brightness(0%);
  mix-blend-mode: multiply;
  z-index: 2;

  transform: rotate(-5deg) skewY(-1deg);
}

@keyframes transform-selected-date-plate {
    0% {
        clip-path: polygon(20% 30%, 40% 100%, 100% 80%, 90% 10%);
    }

    10% {
        clip-path: polygon(10% 28%, 30% 90%, 95% 70%, 80% 0%);
    }

    20% {
        clip-path: polygon(0 25%, 40% 95%, 80% 75%, 80% 0%);
    }

    30% {
        clip-path: polygon(10% 28%, 50% 100%, 90% 85%, 90% 10%);
    }

    40% {
        clip-path: polygon(20% 30%, 35% 95%, 100% 85%, 90% 10%);
    }

    50% {
        clip-path: polygon(10% 28%, 25% 95%, 100% 85%, 80% 15%);
    }

    60% {
        clip-path: polygon(0 25%, 40% 90%, 90% 75%, 80% 15%);
    }

    70% {
        clip-path: polygon(5% 25%, 30% 95%, 80% 70%, 80% 15%);
    }

    80% {
        clip-path: polygon(10% 25%, 20% 100%, 90% 80%, 80% 15%);
    }

    90% {
        clip-path: polygon(15% 28%, 30% 100%, 95% 80%, 85% 10%);
    }

    100% {
        clip-path: polygon(20% 30%, 40% 100%, 100% 80%, 90% 0%);
    }
}
