.persona-outline {
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 5px;
}

.persona-reverse-outline {
  -webkit-text-fill-color: black;
  text-shadow: 
    7px 15px 0,
    -7px -5px 0,
    5px -5px 0;
}